html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 10px 20px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.warning_cookie_block {
    width: 100%;
    height: 68px;
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    z-index: 100000;
    text-align: center;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    padding: 10px;

}

.requiredField .asteriskField {
    color: red;
    font-weight: bold;
    margin-left: .25em;
}

.bdr-round {
    border-radius: 6px;
    overflow: hidden;
}

.sidebar-left {    
    max-width: 250px;
    min-width: 220px;
}

@media (max-width: 1200px) {
    .sidebar-left {
      display: none; 
    } 
  }

.navbar-vertical {
    flex-direction: column !important;
}

@media(min-width:1200px) {
    .container {
        max-width: 1600px;
    }
}

.table.padded > :not(caption) > * > * {
    padding: 0.5rem 1.5rem;
  }

.summary .table > :not(caption) > * > * {
    padding: 0.25rem 0.5rem;
}

.page-title {
    margin-bottom: 1rem;
}

.bottom-left-image {
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
}

.avatar {
    display: flex; 
    justify-content: center;    
    height: 150px;
}

.table-divider {
    height: .5rem !important;
    background-color: #f8f9fa !important;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    /* box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%) !important; */
}

.navbar {
    padding-left: 1.5rem;
}

.font-weight-bolder {
    font-weight: 700 !important;
}

.font-weight-bold {
    font-weight: 600 !important;
}

.text-sm {
    font-size: 0.875rem !important;
}

.text-lg {
    font-size: 1.125rem !important;
}

.text-end {
    text-align: right !important;
}

.icon-shape {
    width: 48px;
    height: 48px;
    background-position: center;
    border-radius: 0.75rem;
    margin: 0px !important;
}

.icon-shape .ni {
    top: 14px;
    position: relative;
}

.card-img-right {
    background-size: cover;
    border-radius: 0.75rem;
    height: 100% !important;
    position: relative !important;
    overflow: hidden !important;
}

.mask {
    position: absolute;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.bg-gradient-dark {
    background-image: linear-gradient(310deg, #6e6e6e 0%, #aaaaaa 100%);
}

.border-radius-lg {
    border-radius: 0.75rem;
}

.text-white {
    color: #fff !important;
}

.text-light {
    color: rgb(192, 192, 192) !important;
}