{% load static %}

<link rel="stylesheet" href="/static/assets/css/bootstrap.css">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/assets/css/site.css">
<link rel="shortcut icon" href="/static/assets/favicon.png"/>

<script type='text/javascript' src="{% static 'assets/fullcalendar/dist/index.global.js' %}"></script>
