{% extends "base.html" %}
{% load static %}

{% block page_title %}Участники{% endblock %}

{% block left_menu_img %}
  <img class="img-fluid" src="/static/assets/img/template/singing_cat.png" alt="singing cat"/>
{% endblock %}

{% block page_content %}
<div class="table-responsive-md bdr-round shadow-sm bg-white">
    <table class="table table-hover padded">
        <thead>
          <tr>
            <th scope="col">Ф.И.О.</th>
            <th scope="col">Телефон</th>
            <th scope="col">Контакты</th>
            <th scope="col">Год рождения</th>
            <th scope="col">Опыт</th>
            <th scope="col">Разряд</th>
            <th scope="col">Школа</th>
            <th scope="col">Роль</th>
          </tr>
        </thead>
        <tbody>            
          {% for profile in profiles %}
            <tr>
                <td>{{ profile.user.last_name }} {{ profile.user.first_name }}</td>
                <td>{{ profile.phone_mobile }}</td>
                <td> - </td>
                <td>{{ profile.birthday }}</td>
                <td> - </td>
                <td>{{ profile.sports_category }}</td>
                <td> - </td>
                <td> - </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}