{% extends "base.html" %}
{% load static %}

{% block left_menu_img %}
  <img class="img-fluid" src="/static/assets/img/template/compass_cat.png" alt="compass cat"/>
{% endblock %}

{% block page_content %}
<!-- metrics -->
<div class="row">
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Участников</p>
              <h5 class="font-weight-bolder mb-0">
                250              
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon-shape shadow-sm text-center brd-round">
              <i class="ni fa-solid fa-people-group text-lg"></i>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Походов</p>
              <h5 class="font-weight-bolder mb-0">
                176                
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon-shape shadow-sm text-center brd-round">
              <i class="ni fa-regular fa-mountain-sun text-lg"></i>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Запланировано</p>
              <h5 class="font-weight-bolder mb-0">
                15             
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon-shape shadow-sm text-center border-radius-md">              
              <i class="ni fa-solid fa-person-hiking text-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Ещё какая-то фигня</p>
              <h5 class="font-weight-bolder mb-0">
                55                
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon-shape shadow-sm text-center border-radius-md">
              <i class="ni fa-solid fa-circle-question text-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- # metrics -->

<!-- about -->
<div class="row mt-4">
  <div class="col-lg-7 mb-lg-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex flex-column h-100">
              <p class="mb-1 pt-2 text-light">Сделано туристами</p>
              <h5 class="font-weight-bolder">О клубе</h5>
              <p class="mb-5">Мы являемся неформальным объединением людей, увлекающихся походами в горы. 
                Ходим в походы зимой и летом, пешком и не только, спортивно и не очень.
                </p>
              <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
                Подробнее
                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
            <div class="card-img-right" style="background-image: url('/static/assets/img/template/hike-01.jpg');">                                        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card h-100 p-3">
      <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('/static/assets/img/template/hike-02.jpg');">
        <span class="mask bg-gradient-dark"></span>
        <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
          <h5 class="text-white font-weight-bolder mb-4 pt-2">Тренировки турклуба</h5>
          <p class="text-white"> К походам мы готовимся достаточно серьезно - тренировки по физподготовке, лекции и семинары по технике, безопасности, снаряжению и т.д., технические тренировки в Подмосковье и других местах.</p>
          <a class="text-body text-sm text-white font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
            Подробнее
            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- # about -->

<!-- links -->
<div class="row">
  <div class="column col-xl-6">
    <div class="shadow-sm mt-4 p-4 bg-white">
      <h5>Мероприятия</h5>      
    </div>
  </div>
  
  <div class="column col-xl-6">
    <div class="shadow-sm mt-4 p-4 bg-white">
      <h5>МКК</h5>
    </div>
  </div>
</div>
<!-- # links -->

<!-- events -->
<div class="row">
  <div class="column">    
    <div class="shadow-sm mt-4 p-4 bg-white">
      <h6 class="ms-2 mt-0 mb-3"> Новости клуба </h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim fringilla auctor. Suspendisse potenti. Donec turpis sem, posuere in faucibus ac, laoreet id velit. Phasellus at lectus sit amet ex placerat sagittis a id leo. Integer suscipit elit eleifend metus ultrices semper. Duis non libero ornare, accumsan nisi nec, imperdiet ex. Sed in felis diam.
      </p>
      <hr>
      <p>
        Mauris dapibus nisl eget neque dignissim, ac dictum eros laoreet. Fusce fringilla maximus mauris non cursus. Fusce augue risus, elementum sit amet nunc quis, blandit vulputate neque. Sed placerat tempor ante, sit amet tincidunt arcu viverra id. Suspendisse nibh mauris, condimentum at volutpat at, ultricies eget augue. Nullam pellentesque arcu nec volutpat lobortis. Phasellus vehicula luctus tristique. Sed id sapien pretium dui tincidunt molestie. Nunc vehicula faucibus justo, et tempor tortor. Quisque id turpis facilisis, fringilla felis ac, tincidunt tortor.
      </p>
      <hr>
      <p>
        Nam eleifend turpis eu sem dapibus, a scelerisque neque maximus. Phasellus mauris felis, dictum nec hendrerit vulputate, imperdiet sit amet tortor. Praesent venenatis ex vitae aliquet facilisis. Aliquam consequat odio sit amet sollicitudin scelerisque. Sed a dictum odio. Praesent ultricies metus at lectus finibus sollicitudin. Nulla facilisi. Maecenas facilisis et sem eu tempor. Aenean lacinia, massa quis suscipit mattis, nunc massa tristique mi, vel condimentum justo lectus quis dolor. Sed dictum nisi ac lectus efficitur, vel venenatis ante sagittis. In tempor arcu imperdiet leo fermentum mollis quis eget libero. Integer rhoncus, arcu vitae rutrum feugiat, risus justo ullamcorper eros, vitae dapibus purus felis sed erat. Maecenas euismod sed tellus sit amet facilisis.
      </p>
    </div>
  </div>
</div>
<!-- # events -->

{% endblock %}