{% extends "base.html" %}
{% load static %}

{% block page_title %}
О клубе
{% endblock %}

{% block page_content %}

<div class="bdr-round shadow-sm bg-white p-4">
  <img class="img-fluid float-end" src="/static/assets/img/template/club_address_map.png" alt="Club address map"/>
  <p class="text-start">
    Мы являемся неформальным объединением людей, увлекающихся походами в горы. Кроме летних горных походов, мы ходим
    зимой
    в лыжные походы, на майские праздники - в водные и велосипедные, и круглый год - в спортивные и не очень вылазки в
    Подмосковье. К горным походам мы готовимся достаточно серьезно - тренировки по физподготовке, лекции и семинары по
    технике, безопасности, снаряжению и т.д., технические тренировки в Подмосковье.
  </p>
  <p class="text-start">
    Компания у нас большая - каждый год летом в горы выбирается более 100 человек, а если посчитать еще тех, кто просто
    появляется в клубе пообщаться или сходить на подмосковный выход, то, наверное, получится больше 200 человек. Но чем
    больше хороших людей, тем лучше :-). Поэтому мы всегда рады новым людям с серьезными намерениями ходить в горы. Мы
    базируемся при МГУ, и изрядную долю членов клуба составляют студенты и сотрудники МГУ, но мы принимаем всех,
    независимо от места учебы/работы и возраста. Главное - было бы желание.
  </p>
  <p class="text-start">
    Клубные дни у нас - <strong>вторник и четверг с 18:30-19:00 в трехзальном корпусе МГУ на Воробьевых Горах.</strong>
    В эти дни у нас
    народ приходит потренироваться и просто пообщаться, с февраля активность увеличивается - начинаются школы
    турподготовки с лекциями и семинарами или просто набор в спортивные группы для совместных тренировок. Руководители у
    нас - люди очень разные (и всегда можно себе найти компанию по вкусу), общий принцип один - чтобы летом успешно
    сходить в поход надо познакомиться и совместно потренироваться (не раз, и не два) еще весной.
  </p>
  <p class="text-start">
    Для тех, кто не из МГУ, - добираться до трехзального корпуса нужно так: м.Университет, последний вагон из центра,
    выйти на улицу, перейти по переходу Ломоносовский проспект и идти вдоль забора МГУ по проспекту Вернадского в
    сторону
    центра. Когда Вы окажетесь строго напротив ГЗ (высотного здания) - войти через калитку на территорию МГУ, идти к ГЗ
    мимо бассейна без воды и Вечного огня, затем сместиться чуть вправо к желтому длинному двухэтажному зданию -
    трехзальному корпусу. Вход по центру фасада, лестница на второй этаж, аудитория над холлом первого этажа.
  </p>
  <p class="text-start mb-5">
    Если у вас возникли вопросы, прочитайте FAQ. Если вопросы все равно остались :), можете написать нам на следующие
    адреса:
    tourclub-pr@www.geolink-group.com - Саша Зотов и Лёня Егоров, редколлегия сайта
    katya_zelentsova@mail.ru - Катя Зеленцова, организатор горных школ
    DZelentsov@gmail.com - Дима Зеленцов, председатель МКК
  </p>
  <p class="text-start mt-5">
    P.S. А чтобы не решили, что у нас все слишком серьезно и формально - вот коллекция "садюшек" на тему безопасности в
    горах от председателя университетской МКК Димы Зеленцова и Саши Ефимова. ;-)
  </p>
</div>

<div class="row">
  <div class="column col-xl-6">
    <div class="shadow-sm mt-4 p-4 bg-white">
      <p class="fst-italic fw-bold mb-1">
        Камнеопасные склоны
      </p>
      <p>
        Ах, до чего же в горах труден путь,
        Мальчик решил под стеной отдохнуть.
        Сверху послышались странные звуки...
        Только "вибрамы" торчат из сыпухи.
      </p>
    </div>
  </div>

  <div class="column col-xl-6">
    <div class="shadow-sm mt-4 p-4 bg-white">
      <p class="fst-italic fw-bold mb-1">
        Травяные склоны
      </p>
      <p>
        Мальчик шел в гору по мокрой траве.
        Скользкий ботинок - дыра в голове...
        Вот и закончился славный поход...
        Зря он сегодня пошел на подход!!!
      </p>
    </div>
  </div>
</div>

{% endblock %}