{% extends "base.html" %}
{% load static %}

{% block page_title %}
О тренировках
{% endblock %}

{% block page_content %}
<div class="bdr-round shadow-sm bg-white p-4">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci eros, ultricies non pellentesque eget,
        maximus sed metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Etiam rutrum magna lacus, et elementum ex tempor eget. Maecenas placerat pulvinar magna, quis euismod augue
        aliquam id. Quisque placerat tincidunt egestas. Aliquam dictum facilisis erat sollicitudin tempus. Morbi vitae
        varius diam. Cras ante eros, dictum eu lacus aliquet, convallis dapibus sapien. Vestibulum convallis erat nec
        leo rutrum, lacinia ullamcorper felis pharetra. Ut commodo nibh non sapien sagittis, eu bibendum nunc semper.
        Sed interdum lorem sit amet urna accumsan, nec aliquam lacus pretium. Duis in lectus a est pretium blandit. Nam
        ultricies posuere ante, sit amet pretium eros vehicula in. Vestibulum gravida nunc lacus, et commodo risus
        pellentesque vel. Sed feugiat dolor congue, consequat nisi vel, scelerisque leo. Cras egestas venenatis aliquam.
    </p>

    <p>
        In pharetra nunc id felis aliquam consectetur. Morbi luctus scelerisque aliquet. Vivamus vitae ante a sem rutrum
        sodales vel et mauris. Donec lacinia velit sed lacus lobortis tristique. Ut accumsan finibus vehicula. Nullam
        tincidunt mi enim, sit amet accumsan libero sodales et. Nulla imperdiet, enim at interdum pharetra, ipsum justo
        sagittis est, eget condimentum leo arcu vitae ipsum. Praesent velit mauris, viverra laoreet orci vel, interdum
        imperdiet lorem. Praesent et tortor non nisl interdum blandit. Curabitur maximus sem vel orci condimentum, vitae
        ultrices nisi hendrerit. Nam eu feugiat sapien, a tempor augue. Curabitur sit amet ante justo. Donec quis lectus
        vulputate, pretium justo eget, cursus arcu. Sed ac feugiat ante.
    </p>

    <p>
        Maecenas quis elit nunc. Quisque luctus, sapien eu interdum rutrum, nunc ligula consequat ex, a tincidunt magna
        metus nec libero. Etiam placerat ante sed consectetur consequat. Nullam mattis aliquam auctor. Etiam consequat
        eros vel arcu cursus, eu cursus est fermentum. Fusce ullamcorper elit risus, vel aliquet massa dictum et.
        Aliquam tellus urna, cursus a tincidunt vitae, eleifend at lectus. Vivamus quis ipsum fermentum, consectetur
        quam a, varius sem.
    </p>

    <p>
        Praesent risus lorem, mollis consectetur lacinia vel, auctor vitae nisi. Nullam sit amet laoreet massa. Donec
        dolor dui, vehicula ac lectus non, sodales tempor enim. Etiam volutpat sem sapien, eu cursus nunc luctus et.
        Praesent risus risus, placerat ut vulputate ac, pharetra eget arcu. Sed et neque eleifend, faucibus nisl id,
        tempus enim. Nam laoreet leo maximus leo pretium sollicitudin. Aenean ultricies diam ut velit rhoncus euismod.
        Maecenas at risus dui. Maecenas in lacus pharetra, scelerisque magna eu, placerat elit. Nulla pulvinar erat sed
        velit vulputate eleifend.
    </p>

    <p>
        Vestibulum a efficitur libero. Proin porttitor orci ac ante pellentesque, vel laoreet nibh venenatis. Interdum
        et malesuada fames ac ante ipsum primis in faucibus. Fusce aliquam, nisi eget rutrum mollis, massa lacus porta
        dolor, eu sodales neque justo a libero. Ut eget semper quam. Pellentesque pharetra dui at dolor sollicitudin,
        eget sodales ex efficitur. Sed faucibus tellus quis enim aliquam, et suscipit ipsum condimentum. Sed posuere
        neque ipsum. Phasellus viverra nunc dolor, quis luctus risus porta quis. Aliquam a orci at felis pharetra
        placerat a vitae erat.
    </p>
</div>
{% endblock %}