{% extends "base.html" %}
{% load static %}

{% block page_title %}Мероприятия клуба{% endblock %}


{% block page_content %}

<div class="row">
    <div class="column left col-xl-9 pe-4">
        <div id="calendar" class="bdr-round shadow-sm bg-white p-4"></div>        
    </div>

    <div class="column left col-xl-3 leader-details shadow-sm p-4 bg-white">
        <div id="event_details">
            <h3 id="event_details_header"></h3>
            <div id="event_details_description">                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">    
        <div class="shadow-sm mt-4 p-4 bg-white">
          <h6 id="daily_events_header" class="ms-2 mt-0 mb-3">События за день</h6>
          <div id="daily_events"></div>
        </div>
      </div>
</div>
<script type='text/javascript'>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var today = new Date().toJSON().slice(0,10)

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialDate: today,
      contentHeight: 500,
      editable: false,
      selectable: true,
      dayMaxEvents: false, // allow "more" link when too many events
      events: 'list/json',

      dateClick: function(info) {    
        var daily_events = []
        evts = this.getEvents()
    
        for (const evt of evts) {
            var start = new Date(evt.start.getFullYear(),evt.start.getMonth(), evt.start.getDate())
            var end = new Date(evt.end.getFullYear(),evt.end.getMonth(), evt.end.getDate())        

            if (start <= info.date && end >= info.date) {
                daily_events.push(evt)
            }
        }
        
        var text = ""
        for (const evt of daily_events) {
            text += '<p><strong>' + evt.title + '</strong><br>' + 'Краткое описание события' + '<p><hr/>'            
        }        
        document.getElementById('daily_events_header').innerHTML = "События за " + info.dateStr
        document.getElementById('daily_events').innerHTML = text        
      },
      eventClick: function(info) {            
        document.getElementById('event_details_header').innerHTML = info.event.title
        document.getElementById('event_details_description').innerHTML = 'Подробное описание события'
      }
    });

    calendar.render();
  });

</script>

{% endblock %}